/* Add CSS Styling */

.background_red {
    background-color: lightcoral;
    font-family: Verdana, DejaVu Sans,sans-serif;
    font-size: 16px;
}

.background_red.third_number {
    font-size: 24px;
}

#second_element {
    font-size: 36px;
    color: blue;
}

#fourth_element {
    font-size: 24px;
    font-weight: 700;
    background-color: lightgreen;
}