/* Add CSS Styling */
.black-button,
.yellow-button {
    font-family: "Helvetica",'Times New Roman',sans-serif;
    font-size: 28px;
}

.yellow-button {
    color: black;
    background-color: yellow;
}

.black-button {
    color: white;
    background-color: black;
}