/* Add CSS Styling */
.click-me-button {
    font-family: "Helvetica",'Times New Roman',sans-serif;
    font-size: 28px;
}

:hover.click-me-button {
    background-color: white;
    color: blue;
}

.yellow-button {
    color: black;
    background-color: yellow;
}

.black-button {
    color: white;
    background-color: black;
}